.card {
    border: none;
    padding-left: 30px;
    background-color: #000;
    border-left: 10px solid #0000;
    margin-top: 30px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-left-color: #fdd617;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 238, 0, 0.472);
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 238, 0, 0.472);
    box-shadow: 0px 0px 23px -10px rgba(255, 238, 0, 0.472);
}

.card-completed {
    border-left-color: #28a745;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(0, 255, 21, 0.472);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0, 255, 21, 0.472);
    box-shadow: 0px 0px 23px -10px rgba(0, 255, 21, 0.472);
}

.card-next-week {
    border-left-color: #ec852e;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 115, 0, 0.472);
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 115, 0, 0.472);
    box-shadow: 0px 0px 23px -10px rgba(255, 115, 0, 0.472);
}

.card-overdue {
    border-left-color: #dc3545;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 0.472);
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 0.472);
    box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 0.472);
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-content {
    min-height: 68px;
}

.badge-primary {
    background-color: #e9eeff;
    color: #4772fe;
}

.badge-danger {
    color: #aaa;
    background-color: #0000;
    font-size: medium;
    padding: 0px;
    margin-top: 0px;
}

.badge-done {
    color: #28a745;
    background-color: #0000;
    font-size: medium;
    padding: 0px;
    margin-top: 0px;
}

.cat-tools {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: -42px;
    padding: 0px 0px 3px 15px;
    background-color: #333;
    max-width: 100px;
    display: none;
}

.cat-tools i {
    margin-right: 10px;
    cursor: pointer;
}

.categories-list .card:hover {
    cursor: pointer;
    padding-left: 5px;
    border-left: 35px solid #fdd617;
    background-color: #111;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 238, 0, 1);
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 238, 0, 1);
    box-shadow: 0px 0px 23px -10px rgba(255, 238, 0, 1);
}

.categories-list .card-completed:hover {
    border-left-color: #28a745;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(0, 255, 21, 0.472);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0, 255, 21, 0.472);
    box-shadow: 0px 0px 23px -10px rgba(0, 255, 21, 0.472);
}

.categories-list .card-next-week:hover {
    border-left-color: #ec852e;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 115, 0, 1);
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 115, 0, 1);
    box-shadow: 0px 0px 23px -10px rgba(255, 115, 0, 1);
}

.categories-list .card-overdue:hover {
    border-left-color: #dc3545;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 1);
}

.categories-list .card:hover .cat-tools {
    display: inline;
}

h3 {
    color: #fdd617;
    font-size: 1.5rem;
}

.h3-completed {
    color: #28a745;
}

.card-next-week .card-body h3 {
    color: #ec852e !important;
}

.card-overdue .card-body h3 {
    color: #dc3545 !important;
}

.category-group-hr {
    margin-top: 30px;
    height: 1px;
    background: rgba(23,23,23,1);
    background: -moz-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(23,23,23,1) 2%, rgba(90,90,90,1) 30%, rgba(90,90,90,1) 70%, rgba(23,23,23,1) 98%, rgba(23,23,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(23,23,23,1)), color-stop(2%, rgba(23,23,23,1)), color-stop(30%, rgba(90,90,90,1)), color-stop(70%, rgba(90,90,90,1)), color-stop(98%, rgba(23,23,23,1)), color-stop(100%, rgba(23,23,23,1)));
    background: -webkit-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(23,23,23,1) 2%, rgba(90,90,90,1) 30%, rgba(90,90,90,1) 70%, rgba(23,23,23,1) 98%, rgba(23,23,23,1) 100%);
    background: -o-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(23,23,23,1) 2%, rgba(90,90,90,1) 30%, rgba(90,90,90,1) 70%, rgba(23,23,23,1) 98%, rgba(23,23,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(23,23,23,1) 0%, rgba(23,23,23,1) 2%, rgba(90,90,90,1) 30%, rgba(90,90,90,1) 70%, rgba(23,23,23,1) 98%, rgba(23,23,23,1) 100%);
    background: linear-gradient(to right, rgba(23,23,23,1) 0%, rgba(23,23,23,1) 2%, rgba(90,90,90,1) 30%, rgba(90,90,90,1) 70%, rgba(23,23,23,1) 98%, rgba(23,23,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#171717', GradientType=1 );
}

.category-group-border {
    min-height: 173px;
    margin-top: 30px;
    margin-bottom: -30px;
    margin-right: -40px;
    padding: 0 10px;
    vertical-align: middle;
}

.category-group {
    height: 100% !important;
    background-color: #222;
    border-top: 3px solid #171717;
    border-bottom: 3px solid #171717;
    border-radius: 25px;
    display: table-cell;
    padding: 10px;
    color: #aaa;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    vertical-align: middle;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.form-category {
    width: 580px;
    margin-right: -100px;
}

.form-select-group {
    margin-left: -70px;
    border: none;
    color: #ddd;
    background-color: #000;
}

select:focus {
    outline: none;
}

.delete-modal .modal-content {
    background-color: #000 !important;
    color: #ddd !important;
    border: 0;
    border-left: 10px solid #dc3545 !important;
    border-top-left-radius: 60px !important;
    border-bottom-left-radius: 60px !important;
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 0.472);
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 0.472);
    box-shadow: 0px 0px 23px -10px rgba(255, 0, 0, 0.472);
}

.delete-modal .modal-header {
    border: 0;
    padding-bottom: 0;
}

.delete-modal .modal-footer {
    border: 0;
    margin-top: -26px;
    padding-top: 0;
}

.modal-title {
    margin-left: 40px;
    width: 300px;
    font-weight: 500;
    color: #dc3545 !important;
}

.btn-delete-modal-no {
    height: 38px !important;
    font-weight: bold !important;
    background-color: #777 !important;
    color: #000 !important;
    border: 0;
    border-radius: 19px !important;
}

.btn-delete-modal-yes {
    height: 38px !important;
    font-weight: bold !important;
    background-color: #dc3545 !important;
    color: #000 !important;
    border: 0;
    border-radius: 19px !important;
}

.btn-delete-modal-yes:focus {
    outline: none;
}

.btn-delete-modal-no:focus {
    outline: none;
}

h1 {
    color: #fdd617;
    margin-bottom: 30px;
}

h3 .todo-breadcrumb{
    color: #fdd617;
    font-weight: 100;
}

a {
    color: #fdd617 !important;
    font-weight: 100;
}