<div class="row justify-content-center md-3">
    <div class="col-md-12 text-center" *ngIf="category">
        <h3><a href="/">Todo</a> > <a [href]="'/group/' + category['categoryGroup']">{{ category['categoryGroup'] | titlecase }}</a> ></h3><h1>{{ category['category'] }}</h1>
        <!-- <p class="text-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p> -->
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-9">
        <form #f="ngForm" (ngSubmit)='f.form.valid && onSubmit(f)' class="form-inline">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Add new todos here" name="todoText" class="form-inline form-todo" [(ngModel)]="todoValue" required #todo='ngModel' [ngClass]="{'border-danger': f.submitted && todo.invalid}">
                <input type="date" name="todoDueDate" class="form-select-date" [(ngModel)]="todoDueDate" #todo='ngModel'>
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block">{{ dataStatus }}</button>
            <div class="text-danger ml-3" *ngIf="f.submitted && todo.invalid && todo.errors.required">
                Todo is required
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center todo-list">
    <div class="col-md-6">
        <div class="card justify-content-center" *ngFor="let todo of todos" [ngClass]="{'card-completed': todo.data.isCompleted, 'card-next-week': todayNextWeek >= todo.data.todoDueDate && todo.data.todoDueDate != 0 && !todo.data.isCompleted, 'card-overdue': today >= todo.data.todoDueDate && todo.data.todoDueDate != 0 && !todo.data.isCompleted}">
            <div class="card-body" (click)="completeTodo(todo.id, todo.data.isCompleted)">
                <div class="clearfix">
                    <div class="float-left text-secondary col-md-12">
                        <i class="far fa-circle text-warning" *ngIf="!todo.data.isCompleted"></i>
                        <i class="fas fa-check text-success" *ngIf="todo.data.isCompleted"></i>
                        <i [ngClass]="{'todo-completed': todo.data.isCompleted}">{{ todo.data.todo }}</i>
                        <i class="float-right todo-due-date" *ngIf="todo.data.todoDueDate">{{ todo.data.todoDueDate.toString().split("-").reverse().join("-") }}</i>
                    </div>
                </div>
            </div>
            <div class="card-body-tools">
                <div class="float-right todo-tools">
                    <small>
                        <i class="fas fa-pencil-alt text-warning" (click)="onEdit(todo.data.todo, todo.id, todo.data.todoDueDate)"></i>
                        <i class="fas fa-trash text-danger" (click)="onDelete(todo.id)"></i>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>